.app {
  text-align: center;
  min-height: 100vh;
  background-color: #121212;
  color: white;
  font-family: 'Circular', Arial, sans-serif;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: white;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-top-color: #1DB954;
  animation: spin 1s ease-in-out infinite;
  margin-bottom: 20px;
}

.loading::before {
  content: "Loading...";
  font-size: 1.2rem;
  color: #b3b3b3;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} 